= f.submit
%br
看板名稱：
= f.input_field :name, :placeholder => '看板名稱為必填'
%br
看板介紹：
= f.input_field :intro
%br
板主 id：
= f.input_field :user_id
%br
看板排序：
= f.input_field :sort
%br
是否顯示：
= f.input_field :is_enabled
%br
= f.submit
