index
%br
%br
= link_to "new", new_user_board_path(@user)
%br
- @boards.each do |b|
  %div
    看板編號：
    = b.id
    %br
    看板名稱：
    = b.name
    %br
    = link_to "show", user_board_path(@user,b)
    = link_to "edit", edit_user_board_path(@user,b)
    = link_to "delete", user_board_path(@user,b), :method => :delete